@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {
  font-family: Verdana, sans-serif;
  font-variant: 18px;
  font-weight: 300;
  background: #f0f0f0;

  
} */

body {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  background: #F5F7FA;
  min-height: 100vh;
  font-family: "verdana", sans-serif;
}

html {
  font-size: 80.2%;

}

section {
  padding: 2rem 9%;
}

header {
  background-color:#707d82; 
  color: #f0f0f0;
  justify-content:space-around;
  padding-left: 20em;
 

}

header > h1#header1 p {
  
  font-weight:300;
  text-decoration: solid;  
  display: flex;
  position: relative;
  gap: 20px;
  justify-content:space-around;
  color: #f0f0f0;
  font-size: large;
  margin: 0;
  

}
.subtext {
  font-size: 17px; /* Adjust this value for the subtext font size */
  margin-top: 2px;
  

}


/*SECTION EMAILBOX*/
 #email{ width: 370px;
  


 }
    #email-form {
  
  
    padding: 8px;
    background: #707d82;
    position: relative;
    display: flex;
    justify-content: flex-end;
    min-width: 50px;
    
    gap: 10px;
    margin-right: 60px;

    }
  #my-btn {
      background-color:#0a5dbd ;
      color: white;
    padding:5px 15px ;
    min-width:120px;
    min-height: 40px;
    position: relative;
    margin-right: 1cm;
    border-color: #707d82;
    border-radius: 10px;
    box-shadow:3px 3px #d77c62 ;
  }
  #my-btn:hover  {
    background-color: #79b2f4 ;
    transition:0.5s ;
  
  }
  #my-btn:active { 
    background-color:#d77c62;
  }

  input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    font-family: Verdana, sans-serif;
    
  }
nav li {
  /* justify-content: space-evenly; */
  text-decoration: none;
  font-weight: 300;
  position: relative;
  display: inline-block;
  float: left;
  /* text-align: center; */
}

nav a {
  position: relative;
  z-index: 500;
  color: #2d2c2c;
  text-decoration: none;
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 14px 16px;
  justify-content: center;
}
nav a i[class*="caret"] {
  color: #bfb6b2;
  margin-left: 0.15em;
}
nav a:hover {
  color: #707d82;
}
nav a:hover + .submenu {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
}
nav .eiob .submenu {
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.2s linear;
}
nav .ln .submenu {
  transition: all 0.3s linear;
}
nav .ei .submenu {
  transition: all 0.3s ease-in, opacity 0.2s linear;
}
nav .eo .submenu {
  transition: all 0.3s ease-out, opacity 0.2s linear;
}
nav .submenu {
  display: block;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 499;
  width: 14em;
  top: 100%;
  left: 0;
  box-shadow: 0 2px 5px rgba(68, 68, 68, 0.3);
  transform-origin: top center;
  transform: rotateX(-90deg);
  transition: all 0.25s ease;
}
nav .submenu li > .submenu {
  top: 0;
  left: 80%;
  border: none;
}
nav .submenu:hover {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
  display: block;
}
nav .submenu li {
  float: none;
  display: block;
  overflow: visible;
}
nav .submenu a {
  display: block;
  font-weight: 200;
  text-transform: none;
}
nav .submenu a:hover {
  color: #f5f5f5;
  background: #707d82;
  border: none;
  /* overflow: hidden;
  outline: none;
   */
}

ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  /* height: 46px; */
  background-color: #c88066;
  padding: 20px 50px;
  text-align: justify;
  margin: 0;
  position: relative;
  text-align: center;
  transition-duration: 0.25s;
  outline: none;
  width: 100%;
  border: none;
}
#sign-in {
  display: block;
  text-transform: none;
  justify-content: space-between;
  font-family: Verdana, sans-serif;;
  margin-top: -20px;
  word-spacing: -7px;
  line-height: 0.1;
}

.hero-section {
  padding: 2rem 5% !important;
  height: 80vh;
  background-image: linear-gradient(to left , rgba(0, 0, 0, 0.2),  rgb(167, 161, 161)),
    url(img/pexels-anastasiya-gepp-3995921.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero {
  display: flex;
  align-items: center;
  /* justify-content: start;
   */
}

.hero-section div {
  flex-basis: 50%;
}


.hero-section .text-content {
  isolation: isolate;
}

/* .hero .card-content{
    display: flex;
    align-items: baseline;
    gap: 3rem;
}

.hero .card-content .image-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius:20px ;
  border-bottom-left-radius:20px ;
} */

.hero .card-content {
  display: grid;
  gap: 12.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px , 1fr));
  transform: translateX(7%)  translateY(45%);
  align-items: baseline;
}

.hero .card-content .image-card{
   padding: 9px ;
}



.hero .card-content .image-card img {
 
    width: max-content;
 
}

.hero .card-content .image-card img.img-1{
  border-top-left-radius: 70px;  
}
.hero .card-content .image-card img.img-2{
  border-top-right-radius: 70px;  
  width: 100%;
 
  box-shadow: 7px 10px 1px 0px rgba(233, 118, 92, 0.877);
}

.hero-section .text-content h1 {
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 1.7;
  color: #fff;
}

.hero-section .text-content p {
  font-size: 2rem;
  color: #f5f5f5;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.7;
  padding-block: 5px 50px;
}

.hero-section .text-content h1 > span {
  color: #d77c62;
}

.hero-section .text-content button {
  padding: 15px 24px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #d77c62;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  font-family: "lato";
}

.hero-section .text-content button:hover {
  transform: translateY(-12%);
  /* box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 7px 10px 1px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem 6%;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2rem ;
  }

  .hero-section {
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .hero-section .text-content {
    text-align: start;
    width: 100%;
  }



  .hero-section .text-content h1 {
    font-size: 4.4rem;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-block: 0 20px;
  }

  .hero-section .text-content p {
    font-size: 1.7rem;
    line-height: 1.7;
    letter-spacing: 1.3px;
    padding-block: 5px 30px;
  }

  .hero-section .text-content button {
    padding: 0;
    background: #d77c62;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 10px 18px;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    text-align: start;
  }
  .hero-section div {
    flex-basis: 75%;
  }
}

@media (max-width: 425px) {
  section {
    padding: 2rem 0;
  }

  .hero-section {
    background-position: center;
    position: relative;
    height: 65vh;
  }

  .hero-section .text-content {
    text-align: start;
  }


  .hero-section .text-content h1 {
    font-size: 3.5rem;
    letter-spacing: 1px;
    font-weight: 800;
    padding-block: 12px 30px;
  }

  .hero-section .text-content p {
      display: none;
  }
}

/*footer*/


/*footer*/

body .footer {
  z-index: 1;
  --footer-background:#C88066;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }

}



