@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer"; 
  overflow-x: hidden;
  background: #F5F7FA;
  min-height: 100vh;
  font-family: "verdana", sans-serif;
}

html {
  font-size: 80.2%;

}

section {
  padding: 2rem 9%;
}

header {
  background-color:#707d82; 
  color: #f0f0f0;
  justify-content:space-around;
  padding-left: 20em;
 

}

header > h1#header1 p {
  
  font-weight:300;
  text-decoration: solid;  
  display: flex;
  position: relative;
  gap: 20px;
  justify-content:space-around;
  color: #f0f0f0;
  font-size: large;
  margin: 0;
  

}
.subtext {
  font-size: 17px; /* Adjust this value for the subtext font size */
  margin-top: 2px;
  

}


/*SECTION EMAIL BOX*/
 #email{ width: 370px;
  


 }
    #email-form {
  
  
    padding: 8px;
    background: #707d82;
    position: relative;
    display: flex;
    justify-content: flex-end;
    min-width: 50px;
    
    gap: 10px;
    margin-right: 60px;

    }
  #my-btn {
      background-color:#0a5dbd ;
      color: white;
    padding:5px 15px ;
    min-width:120px;
    min-height: 40px;
    position: relative;
    margin-right: 1cm;
    border-color: #707d82;
    border-radius: 10px;
    box-shadow:3px 3px #d77c62 ;
  }
  #my-btn:hover  {
    background-color: #79b2f4 ;
    transition:0.5s ;
  
  }
  #my-btn:active { 
    background-color:#d77c62;
  }

  input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    font-family: Verdana, sans-serif;
    
  }
nav li {
  /* justify-content: space-evenly; */
  text-decoration: none;
  font-weight: 300;
  position: relative;
  display: inline-block;
  float: left;
  /* text-align: center; */
}

nav a {
  position: relative;
  z-index: 500;
  color: #2d2c2c;
  text-decoration: none;
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 14px 16px;
  justify-content: center;
}
nav a i[class*="caret"] {
  color: #bfb6b2;
  margin-left: 0.15em;
}
nav a:hover {
  color: #707d82;
}
nav a:hover + .submenu {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
}
nav .eiob .submenu {
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.2s linear;
}
nav .ln .submenu {
  transition: all 0.3s linear;
}
nav .ei .submenu {
  transition: all 0.3s ease-in, opacity 0.2s linear;
}
nav .eo .submenu {
  transition: all 0.3s ease-out, opacity 0.2s linear;
}
nav .submenu {
  display: block;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 499;
  width: 14em;
  top: 100%;
  left: 0;
  box-shadow: 0 2px 5px rgba(68, 68, 68, 0.3);
  transform-origin: top center;
  transform: rotateX(-90deg);
  transition: all 0.25s ease;
}
nav .submenu li > .submenu {
  top: 0;
  left: 80%;
  border: none;
}
nav .submenu:hover {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
  display: block;
}
nav .submenu li {
  float: none;
  display: block;
  overflow: visible;
}
nav .submenu a {
  display: block;
  font-weight: 200;
  text-transform: none;
}
nav .submenu a:hover {
  color: #f5f5f5;
  background: #707d82;
  border: none;
  /* overflow: hidden;
  outline: none;
   */
}

.button1 {

  border: 1px #d77c62;
  outline:none;
  padding: 6px 6px;
  background-color: #d77c62;
 
}
.button2{
 
  border: 1px #d77c62;
  outline:none;
  /* padding: 6px 6px; */
  background-color: #d77c62;
  color: white;

}

.text{
  display: inline-block;


}
/* nav bar ends here */

ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  
  background-color: #d77c62;
  padding: 20px 50px;
  text-align: justify;
  margin: 0;
  position: relative;
  text-align: center;
  transition-duration: 0.25s;
  outline: none;
  width: 100%;
  border: none;
}
#sign-in {
  display: block;
  text-transform: none;
  justify-content: space-between;
  font-family: Verdana, sans-serif;;
  margin-top: -20px;
  word-spacing: -7px;
  line-height: 0.1;
}

.hero-section {
  padding: 2rem 5% !important;
  height: 80vh;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.2),
      rgb(167, 161, 161)
    ),
    url(img/pexels-anastasiya-gepp-3995921.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero {
  display: flex;
  align-items: center;
}

.hero-section div {
  flex-basis: 50%;
}

.hero .card-content {
  display: flex;
  align-items: baseline;
  width: 100%;
  gap: 1rem;
  transform: translateX(4%) translateY(30%);
}

.hero .card-content img.img-1 {
  width: 45%;
  border-top-left-radius: 20px !important;
  border-radius: 7px;
}

.hero .card-content img.img-2 {
  width: 40%;
  border-top-right-radius: 12px !important;
  border-radius: 7px;
}

.hero-section .text-content h1 {
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 1.7;
  color: #fff;
}

.hero-section .text-content p {
  font-size: 2rem;
  color: #f5f5f5;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.7;
  padding-block: 5px 50px;
}

.hero-section .text-content h1 > span {
  color: #d77c62;
}

.hero-section .text-content button {
  padding: 15px 24px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #d77c62;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  font-family: "lato";
}

.hero-section .text-content button:hover {
  transform: translateY(-12%);
  /* box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 7px 10px 1px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem 6%;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2rem;
  }

  .hero-section {
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .hero-section .text-content {
    text-align: start;
  }

  .hero-section .text-content h1 {
    font-size: 4.4rem;
    letter-spacing: 1px;
  }

  .hero-section .text-content p {
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: 1.3px;
    padding-block: 5px 25px;
  }

  .hero-section .text-content button {
    padding: 0;
    background: #d77c62;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 10px 18px;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    text-align: start;
  }
  .hero-section div {
    flex-basis: 100%;
  }

  .hero .card-content {
    display: flex;
    align-items: baseline;
    width: 100%;
    gap: 1.1rem;
    transform: translateY(100%) translateX(-25%);
  }

  .hero .card-content img {
    width: 53%;
  }

  .hero .card-content img.img-1 {
    border-top-left-radius: 30px;
  }

  .hero .card-content img.img-2 {
    border-top-right-radius: 30px;
  }
}


@media (max-width: 749px) {
  .hero .card-content {
    display: none;
  }
}

@media (max-width: 425px) {
  section {
    padding: 2rem 0;
  }
}

  .hero-section {
    background-position: center;
    position: relative;
    height: 65vh;
  }

  .hero-section .text-content {
    text-align: start;
  }

  .hero-section .text-content h1 {
    font-size: 3.5rem;
    letter-spacing: 1px;
    font-weight: 800;
    padding-block: 12px 10px;
  }


  
/*footer start*/


.footer-section {
  background: #d77c62;
  position: relative;
}
.container1 {  background: #d77c62;
  position: relative;
}


.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #333;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #fff;
  font-size: 15px;
}
.footer-content {
  
  z-index: 2;
  display: relative;
}



.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #333;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #333;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.instagram-bg {
  background: #d03e7e;
}


.threads-bg {
  background: #d03e7e;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.linkedln-bg {
  background: #4267B2;


}
.footer-widget-heading h3 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #333;
}


.footer-list {display: inline-block;
}
.footer-widget .footer-list li {

  vertical-align: middle;

  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget .footer-list li a:hover {
  color: #333;
}
.footer-widget .footer-list li a {
  color: #fff;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
  background-color: #d77c62;
  
}
.subscribe-form input {
  width: 126%;
  padding: 14px 28px;
  background: #fff;
   border: 1px solid #333; 
  
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: blue;
  padding: 13px 20px;
  border: 1px solid blue;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #333;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
/*take note of this place*/
.copyright-text p a {
  color: #fff;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #fff;
}
.footer-menu li a {
  font-size: 14px;
  color: #fff;
}

/* footer end  */



